{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "commonjs": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": 0
  },
  "overrides": [
    {
      "files": ["*.ts", "*.test.ts"],
      "parser": "@typescript-eslint/parser",  
      "settings": {},
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "google"
      ],
      "rules": {
        "no-unused-vars": [
          "error",
          {
            "ignoreRestSiblings": true
          }
        ],
        "@typescript-eslint/no-unused-vars": ["error", {
          "ignoreRestSiblings": true
        }],
        "no-invalid-this": 0,
        "require-jsdoc": 0,
        "max-len": ["error", {
          "code": 100,
          "ignoreComments": true,
          "ignoreTrailingComments": true,
          "ignoreStrings": true,
          "ignoreRegExpLiterals": true,
          "ignoreUrls": true
        }],
        "indent": ["error", 2],
        "no-unsafe-finally": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "linebreak-style": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "no-constant-condition": ["error", {
          "checkLoops": false
        }]
      }
    }, {
      "files": ["*.test.ts"],
      "extends": [
        "plugin:jest/all"
      ],
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "jest/prefer-expect-assertions": 0
      },
      "env": {
        "jest/globals": true
      }
    }
  ]
}